{% extends "layout.tpl.html" %}
{% block content %}
<section class="container">
  <div class="page-header">
    <h1>時刻表検索</h1>
    <form action="/stop_times/" method="get" class="form-inline text-center">
      <div class="form-group">
        {% if params.f_id is defined and params.f_id != "" %}
        <div class="form-group has-success has-feedback">
        {% elif select is defined and select == "f_id" %}
        <div class="form-group has-warning">
        {% else %}
        <div class="form-group">
        {% endif %}
          <div class="input-group">
            <span class="input-group-addon">
                乗車
                {% if select is defined and select == "f_id" %}
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                {% endif %}
            </span>
            <input type="text" name="from_q" value="{{ params.from_q }}" class="form-control "/>
            {% if params.f_id is defined and params.f_id != "" %}
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            {% endif %}
          </div>
        </div>
        <div class="form-group text-center">
          <a href="/stop_times/?from_q={{ params.to_q }}&to_q={{ params.from_q }}&f_id={{ params.t_id }}&t_id={{ params.f_id }}&day={{ params.day }}&time={{ params.time }}" class="btn btn-default" role="button">⇄</a>
          <span class="sr-only">入換</span>
        </div>
        {% if params.t_id is defined and params.t_id != "" %}
        <div class="form-group has-success has-feedback">
        {% elif select is defined and select == "t_id" %}
        <div class="form-group has-warning">
        {% else %}
        <div class="form-group">
        {% endif %}
          <div class="input-group">
            <span class="input-group-addon">
                下車
                {% if select is defined and select == "t_id" %}
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                {% endif %}
            </span>
            <input type="text" name="to_q" value="{{ params.to_q }}" class="form-control"/>
            {% if params.t_id is defined and params.t_id != "" %}
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="form-group">
          <input type="date" class="form-control" name="day" value="{{ params.day }}"/>
          <input type="time" class="form-control" name="time" step="600" value="{{ params.time }}"/>
      </div>
      <input type="hidden" name="f_id"/>
      <input type="hidden" name="t_id"/>
      <button type="submit" class="btn btn-default">検索</button>
    </form>
  </div>
</section>
{% endblock %}
{% block footer_scripts %}
<script>
    $(function(){
        var get_params    = (location.href).split("?");
        params   = get_params[1].split("&");

        var paramArray = [];
        for ( i = 0; i < params.length; i++ ) {
            kv = params[i].split("=");
            paramArray[kv[0]] = kv[1];
        }

        if (paramArray["f_id"]) {
            $('input[name="f_id"]').val(paramArray["f_id"]);
        }
        if (paramArray["t_id"]) {
            $('input[name="t_id"]').val(paramArray["t_id"]);
        }

        $('input[name="from_q"]').change(function() {
            $('input[name="f_id"]').val("");
        });
        $('input[name="to_q"]').change(function() {
            $('input[name="t_id"]').val("");
        });
    });
</script>
{% endblock %}
