{% extends "layout.tpl.html" %}
{% block content %}
  <section class="container">
    <div class="page-header">
      <h1>
        {% if stop.now_name() %}
          {{ stop.now_name().name }}
        {% else %}
          <em>すでに廃止されています</em>
        {% endif %}
      </h1>
    </div>
  </section>
  <section class="section section-default">
  	<div class="container">
  		<div class="row">
        <div class="col-xs-12">
          <div id="GoogleMapStopDetails"></div>
        </div>
  		</div>
  	</div>
  </section>
  <section class="section section-default">
  	<div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>近隣の駅・停留所 (直線距離)</h2>
          登録されているもののみを表示します。
          <ul class="stop-list list-group">
            {% for ns in neighbor_stops %}
              <li><a href="/stops/{{ ns.stop.id }}">{{ ns.stop.now_name().name }}</a> (約{{ ns.dist }}m) </li>
            {% else %}
              <li><em>Find No Stop</em></li>
            {% endfor %}
          </ul>
        </div>
  	  </div>
  	</div>
  </section>
{% endblock %}
{% block footer_scripts %}
<script>
  function initMap() {
    var stops = [
      {%- for position in stop.positions -%}
        {%- if position.availability() %}
          {id: "{{ position.id }}", name: "{{ position.stop.now_name().name }}", subname: "{{ position.subname }}", LatLng:{lat: {{ position.lat }}, lng: {{ position.lng }}}},
        {%- endif -%}
      {%- endfor %}
    ];
    var markers = [];
    var center = {lat: 0, lng: 0};

    // Create a map object and specify the DOM element for display.

    stops.forEach(function(stop, i, a){
      center.lat += stop.LatLng.lat;
      center.lng += stop.LatLng.lng;
    });

    center.lat /= stops.length;
    center.lng /= stops.length;

    var map = new google.maps.Map(document.getElementById('GoogleMapStopDetails'), {
      center: center,
      scrollwheel: false,
      zoom: 17
    });

    // Create a marker and set its position.
    stops.forEach(function(stop, i, a){
        var marker = new google.maps.Marker({
          map: map,
          position: stop.LatLng,
          label: stop.subname != null && stop.subname != "" ? stop.name + " " + stop.subname : stop.name
        });
        markers[stop.id] = marker;
    });

    (function(){
        var get_query = function(key) {
            var url   = location.href;
            parameters    = url.split("?");
            params   = parameters[1].split("&");
            var paramsArray = [];
            for ( i = 0; i < params.length; i++ ) {
                neet = params[i].split("=");
                paramsArray.push(neet[0]);
                paramsArray[neet[0]] = neet[1];
            }
            return paramsArray[key];
        };
        if (get_query("from") != null && get_query("from") in markers) {
            new google.maps.InfoWindow({
                content: "乗車"
            }).open(markers[get_query("from")].getMap(), markers[get_query("from")]);
        }
        if (get_query("to") != null && get_query("to") in markers) {
            new google.maps.InfoWindow({
                content: "下車"
            }).open(markers[get_query("to")].getMap(), markers[get_query("to")]);
        }
    })();
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9Mpuf4zHL1O_4RzrnNCz2GPc7YVUVdDU&callback=initMap" async defer></script>
<script src="/static/js/stop_position.js" async defer></script>
{% endblock %}
