{% extends "layout.tpl.html" %}
{% block head_scripts %}
  <script type="text/javascript" src="/static/js/stop_search.js"></script>
{% endblock %}
{% block content %}
  <section class="jumbotron">
    <div class="container">
      <div class="page-header">
        <h1>バス停検索</h1>
      </div>
      <form action="/stops/search/" method="get" class="form-inline text-center">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="q" value="" class="form-control input-lg"/>
          </div>
        </div>
        <button type="submit" class="btn btn-default btn-lg">検索</button>
      </form>
    </div>
  </section>
  <section class="section section-default">
  	<div class="container">
  		<div class="row">
  			<div class="col-xs-12">
  				<h2>検索のコツ</h2>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-xs-12">
          全て新名称・道南バスがウェブ等で掲載する名称でのみ検索いただけます。(工大前×→工大、など)<br/>
          部分一致で検索いただけるので、見つからない場合はうまく工夫してみてください。(東室蘭→東室蘭駅西口,東室蘭駅東口から選択)<br/>
        </div>
  		</div>
  	</div>
  </section>
{% endblock %}
