{% extends "layout.tpl.html" %}
{% block content %}
  <section class="section section-default">
  	<div class="container">
  		<div class="row">
  			<div class="col-xs-12">
  				<h1>
            {{ company.name[0].name }}
            {% if company.code %}
              <small>{{ company.code }}</small>
            {% endif %}
          </h1>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-xs-12">
          <ul>
            <li>{{ company.address[0].region }}{{ company.address[0].city }}{{ company.address[0].address }}</li>
          </ul>
        </div>
  		</div>
  	</div>
  </section>
{% endblock %}
