<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article# website: http://ogp.me/ns/website#">
    {% block head %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page is defined and page.title is defined %}
      <title>{{ page.title }} (βテスト)</title>
    {% endif %}
    {% if page is defined and page.description is defined %}
      <meta name="description" content="{{page.description}}">
    {% endif %}
    <meta name="yggdore-confirmation" content="lMAxXd98asNEPcuPLi9RV1kzRBsrONxi" />
    <meta name="yggdore-confirmation" content="rxSMi6BJThEsmoTl0YUCo48u2Hr6av3I" />
    {% block ogp %}
    {% endblock %}
    <link rel="stylesheet" href="/assets/rin/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/feedback.css"/>
    {% block css_files %}
    {% endblock %}
    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBahChrGhK82fJAE47cWYIfOHgk3W_vpPs",
        authDomain: "bus-navi-ef6c1.firebaseapp.com",
        databaseURL: "https://bus-navi-ef6c1.firebaseio.com",
        projectId: "bus-navi-ef6c1",
        storageBucket: "bus-navi-ef6c1.appspot.com",
        messagingSenderId: "733259644470"
      };
      firebase.initializeApp(config);
    </script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <script>
      initApp = function() {
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            // User is signed in.
            var displayName = user.displayName;
            var email = user.email;
            var emailVerified = user.emailVerified;
            var photoURL = user.photoURL;
            var uid = user.uid;
            var phoneNumber = user.phoneNumber;
            var providerData = user.providerData;
            user.getIdToken().then(function(accessToken) {
              document.getElementById('sign-in-status').textContent = '';
              var img = document.createElement("img");
              img.setAttribute("src", photoURL);
              img.setAttribute("class", "header-profile-photo");
              var p = document.createElement("p");
              p.textContent = displayName
              document.getElementById('sign-in-status').appendChild(img);
              document.getElementById('sign-in-status').appendChild(document.createTextNode(displayName));
              document.getElementById('sign-in').style.display = 'none';
              document.getElementById('sign-out').style.display = '';

              console.log(JSON.stringify({
                displayName: displayName,
                email: email,
                emailVerified: emailVerified,
                phoneNumber: phoneNumber,
                photoURL: photoURL,
                uid: uid,
                accessToken: accessToken,
                providerData: providerData
              }, null, '  '));
            });
          } else {
            // User is signed out.
            document.getElementById('sign-in-status').textContent = '';
            document.getElementById('sign-in').style.display = '';
            document.getElementById('sign-out').style.display = 'none';
          }
        }, function(error) {
          console.log(error);
        });
        document.getElementById('sign-out-link').addEventListener('click', function() {
          firebase.auth().signOut();
          ui.start('#firebaseui-auth-container', uiConfig);
        });
      };

      window.addEventListener('load', function() {
        initApp()
      });
    </script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />

    <!-- jQuery http://jquery.com/ -->
    <script type="text/javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.js"></script>
    <!-- Bootstrap http://twitter.github.io/bootstrap/-->
    <script type="text/javascript" src="/assets/rin/js/bootstrap.min.js"></script>
    <!-- Underscore.js http://jashkenas.github.io/underscore/ -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!-- Backbone.js http://backbonejs.org/ -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <!-- React.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react.min.js"></script>

    <script type="text/javascript" src="/static/js/main.js"></script>

    <!-- Ads by Google -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% block head_scripts %}
    {% endblock %}

    {% if page is defined and page.twitter_card is defined %}
      <!-- Twitter_Card -->
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="http://muroran.bus-navi.yk-lab.net/" />
      <meta name="twitter:title" content="むろらんバスなび" />
      <meta name="twitter:description" content="" />
      <meta name="twitter:image" content="" />
      <!-- /Twitter_Card -->
    {% endif %}
    <style>
      #pageFooter {
        margin-top: 100px;
        padding: 40px 0;
        color: #eee;
        background-color: #333;
      }
      #pageFooter .content {
        padding-top: 10px;
      }
      #pageFooter .heading {

      }
      #pageFooter .heading .title {
        font-size: 120%;
        font-weight: bold;
      }
      #pageFooter .heading .discription {
        padding-left: 5em;
      }
      #pageFooter .copyright {
        padding-top: 10px;
        padding-bottom: 10px;
      }


      .google_map, #GoogleMapStopDetails {
        height: 430px;
        position: relative;
        width: 100%;
      }

      .maps-frame {
        height: 430px;
        width: 100%;
      }

      .kd-tabbed-vert.header-links .kd-tabbutton a {
        color: #757575;
        display: inline-block;
        height: 100%;
        padding: 0 24px;
        width: 100%;
      }

      .kd-tabbed-vert.header-links .kd-tabbutton {
        padding: 0;
      }

      .kd-tabbed-vert.header-links .kd-tabbutton.selected a {
        color: #03a9f4;
      }

      .kd-tabbed-vert.header-links .kd-tabbutton a:focus {
        text-decoration: none;
      }

      p.top-desc {
        padding: 1em 1em .1em 1em;
      }

      p.bottom-desc {
        padding: 0em 1em 1em 1em;
      }

      #miyaran-180622{
        position:fixed;
        bottom:3px;
        left:3px;
        margin:0;
        padding: 3pt 15pt;
      }

      .header-profile-photo{
        height: 24px;
        float: left;
      }
    </style>
  {% endblock %}
</head>



<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#HaederCollapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">むろらんバスなび</a>
      </div>

      <div class="collapse navbar-collapse" id="HaederCollapse">
        <ul class="nav navbar-nav">
          <li><a href="/">バス時刻検索</a></li>
          <li><a href="/stops/search/">バス停検索</a></li>
          <li><a href="/page/tips" target="_blank">チップについて</a></li>
          <!--
            <li><a href="#footer">お問い合わせ</a></li>
            <li><a href="#footer">利用規約</a></li>
            <li><a href="#footer">プライバシーポリシー</a></li>
          -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="sign-in-status" class="navbar-text"></li>
          <li id="sign-in" style="display:none;"><a href="#" id="sign-in-link" data-toggle="modal" data-target="#SignInDialog">ログイン</a></li>
          <li id="sign-out" style="display:none;"><a href="#" id="sign-out-link">ログアウト</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <noscript>
    <div class="alert alert-danger" role="alert">
      <strong>JavaScript が無効です</strong>
      無効の場合、一部ご利用いただけない機能があります。
    </div>
  </noscript>
  <div class="alert alert-danger" role="alert">
    <strong>お知らせ: 2019年4月1日改正ダイヤに対応していません。</strong>
    オープンデータ等の公開までお待ちください。
  </div>

  <main id="{% block page_id %}{% endblock %}">
    {% block content %}{% endblock %}
  </main>

  <section class="container ads">
      <div class="row">
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-7311832303084031"
                   data-ad-slot="9564309082"
                   data-ad-format="auto"></ins>
       </div>
  </section>

  <footer id="pageFooter">
    <div class="container">
　　	<div class="row">
        <div class="col-xs-12 col-md-6 pull-right">
          <nav>
            <ul class="list-inline text-right">
              <li><a href="/">バス時刻検索</a></li>
              <li><a href="/stops/search/">バス停検索</a></li>
            </ul>
          </nav>
          <nav>
            <ul class="list-inline text-right">
              <li><a href="/page/tips">チップについて</a></li>
              <li><a href="/page/privacy-policy">プライバシーポリシー</a></li>
            </ul>
          </nav>
          <nav>
            <ul class="list-inline text-right">
              <li><a href="http://www.yggdore.com/t4u/" referrerpolicy="origin"><img src="http://www.yggdore.com/t4ubtn/s200x40.gif" width="200" height="40" alt="このページをチップで応援" /></a></li>
            </ul>
          </nav>
          <pre id="miyaran-180622-2"></pre>
        </div>

        <div class="col-xs-12 col-md-6">
          <section class="content">
            <div class="heading">
              <div class="title">Social Accounts</div>
            </div>
            <div class="body" itemscope itemtype="http://schema.org/Organization">
              <link itemprop="url" href="http://www.your-company-site.com">
              <ul>
                <li>Twitter:
                  <ul>
                      <li>運営公式: <a itemprop="sameAs" href="https://twitter.com/bus_navi" target="_blank">@bus_navi</a></li>
                      <li>ユーザサポート: <a itemprop="sameAs" href="https://twitter.com/mbn_support" target="_blank">@mbn_support</a></li>
                  </ul>
                </li>
                <li>Facebook: <a itemprop="sameAs" href="https://www.facebook.com/muroran.bn/" target="_blank">muroran.bn</a></li>
                <li>YouTube: <a itemprop="sameAs" href="https://www.youtube.com/channel/UCSdPWHcDSN3xTr7kzzhmbWQ" target="_blank">むろらんバスなび</a></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
  	</div>
    <div class="container">
  		<div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-xs-12">
              <section class="content">
                <div class="heading">
                  <div class="title">注意事項</div>
                </div>
                <div class="body">
                  以下の事項についてあらかじめご了承ください
                  <ul>
                    <li>このサイトやこのサイトの情報を利用したことに起因するいかなる被害、損害について責任を負いかねます</li>
                    <li>予告なくサービス提供の中止、停止を行う場合があります</li>
                    <li>データの不備がないように万全を期していますがデータに誤りがある場合があります</li>
                    <li>プログラム、アルゴリズムに不備がないように万全を期していますが誤りがある場合があります</li>
                    <li>一部のデータは元データを総合的に判断して加筆・修正などを行っております</li>
                    <li>時刻表などのデータについては以下を使用しています
                        <ul>
                            <li>
                                道南バス
                                <ul>
                                    <li><a href="http://www.city.muroran.lg.jp/main/org2260/odlib.php" target="_blank">むろらんオープンデータライブラリ</a></li>
                                    <li>
                                        <a href="https://github.com/aruneko/DonanBusGTFS" target="_blank">GitHub: aruneko/DonanBusGTFS 道南バスGTFS化プロジェクト</a>
                                        <ul>
                                            <li><a href="https://github.com/yk-lab/DonanBusGTFS" target="_blank">GitHub: yk-lab/DonanBusGTFS (forked from aruneko/DonanBusGTFS)</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                  </ul>
                </div>
              </section>
            </div>
            <div class="col-xs-12">
              <section class="content">
                <div class="heading">
                  <div class="title">提供範囲</div>
                </div>
                <div class="body">
                <ul>
                  <li>道南バス
                  <ul>
                    <li>室蘭市内線
                    <ul>
                      <li>平成28年12月1日改正ダイヤ</li>
                      <li>平成29年4月1日改正ダイヤ
                        <ul>
                          <li>年末年始特別ダイヤを含む</li>
                        </ul>
                      </li>
                    </ul>
                    </li>
                  </ul>
                  </li>
                </ul>
                </div>
              </section>
            </div>
          </div>
  			</div>
        <div class="col-md-6">
          <section class="content">
            <div class="heading">
              <div class="title">フィードバック</div>
              <p class="discription">お問い合わせ/ご意見・ご要望</p>
            </div>
            <div class="body">
              準備中。右下に表示されているフィードバックボタンよりおねがいします。
            </div>
          </section>
          <section class="content">
              <div class="heading">
                <div class="title">広告</div>
              </div>
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-7311832303084031"
                   data-ad-slot="9564309082"
                   data-ad-format="auto"></ins>
          </section>
  			</div>
  		</div>
  	</div>
  	<div class="container small">
  		<div class="row">
  			<div class="col-xs-12 text-center copyright">
  				&copy; バスなびプロジェクト.
  			</div>
  		</div>
  	</div>
  </footer>
  <pre id="miyaran-180622"></pre>
  <div class="modal fade" id="SignInDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">ログイン</h4>
        </div>
        <div class="modal-body">
          <p>今後，ログイン後のご利用いただけるサービスを追加予定です！
          <div id="firebaseui-auth-container"></div>
          <div id="loader">Loading...</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65137506-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <!-- Twitter single-event website tag code -->
  <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
  <script type="text/javascript">twttr.conversion.trackPid('nwdik', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
  <noscript>
  <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=nwdik&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
  <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=nwdik&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
  </noscript>
  <!-- End Twitter single-event website tag code -->
  {% block footer_scripts %}{% endblock %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/feedback.js/2012.10.17/feedback.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      Feedback({
          h2cPath:'https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js',
          label: 'フィードバックを送る (αテスト)',
          header: 'フィードバック (ver. α)',
          url: '/feedback/',
          nextLabel: '次へ',
          reviewLabel: 'プレビュー',
          sendLabel: '送る',
          closeLabel: '閉じる',
          messageSuccess: 'フィードバックの送信に成功しました。ご協力ありがとうございました！',
          messageError: 'フィードバックの送信に失敗しました。もう一度送信するか、Twitter・Facebookを通じてフィードバックを送信のほどよろしくお願いします。'
      });
    });
  </script>
  <script type="text/javascript" src="/static/js/router.js"></script>
  <script type="text/javascript" src="/static/js/stopname_history_localstore.js"></script>
  <script>
    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    var uiConfig = {
      callbacks: {
  //      signInSuccess: function(currentUser, credential, redirectUrl) {
        signInSuccess: function(currentUser) {
          // User successfully signed in.
          // Return type determines whether we continue the redirect automatically
          // or whether we leave that to developer to handle.
          //return true;
          $('#SignInDialog').modal('hide');
          return false;
        },
        uiShown: function() {
          // The widget is rendered.
          // Hide the loader.
          document.getElementById('loader').style.display = 'none';
        }
      },
      // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
      signInFlow: 'popup',
  //    signInSuccessUrl: '',
      signInOptions: [
        // Leave the lines as is for the providers you want to offer your users.
        {
          provider: firebase.auth.GoogleAuthProvider.PROVIDER_ID,
          // Required to enable this provider in One-Tap Sign-up.
          authMethod: 'https://accounts.google.com',
          // Required to enable ID token credentials for this provider.
          clientId: "733259644470-sd4eibkb3mdgo6aj1dqo842n3tggdkm8.apps.googleusercontent.com"
        },
        firebase.auth.FacebookAuthProvider.PROVIDER_ID,
        firebase.auth.TwitterAuthProvider.PROVIDER_ID,
  //      firebase.auth.GithubAuthProvider.PROVIDER_ID,
      ],
      // Required to enable one-tap sign-up credential helper.
      //'credentialHelper': firebaseui.auth.CredentialHelper.GOOGLE_YOLO,
      // Terms of service url.
      tosUrl: '<your-tos-url>'
    };
    // The start method will wait until the DOM is loaded.
    ui.start('#firebaseui-auth-container', uiConfig);
  </script>
  <script defer src="//www.yk-lab.net/widget/miyaran-180622.js" charset="UTF-8"
  onload="this.onload=function(){};miyaran(document.getElementById('miyaran-180622'));miyaran(document.getElementById('miyaran-180622-2'))"
  onreadystatechange="if (this.readyState === 'complete') this.onload()">
  </script>
  <script>
  $(window).scroll(function(){
    var t = $('#miyaran-180622-2').offset().top; // ターゲットの位置取得
    var p = t - $(window).height();  // 画面下部からのターゲットの位置
    if($(window).scrollTop() > p){
      $('#miyaran-180622').hide(); // ボタンを非表示
    }else{
      $('#miyaran-180622').show(); // ボタンを表示
    }
  });
  </script>
  </body>
</html>
